body{
	background-color: #f9f9f9;
}
h1{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.box{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
img{
	width: 223px;
	height: 223px;
}
button{
	height: 55px;
	width: 205px;
	border: 1px solid #23bac1;
	background: #fff;
}
.one{
	text-align: center;
}