*{
	box-sizing: border-box;
}
body{
	background-color: #f6f6f6;
	color: #2f2f2f;

}
.main{
	position: absolute;
   top: 50%;
   right: 50%;
   min-width: 1010px;
   transform: translate(50%, -50%);
   width: 
}
.img{
	display: inline-block;
	border: 1px solid #22D743;
	background-color: #fff;
}
.content{
	display: inline-block;
	height: 375px;
	width: 375px;
	margin-left: 50px;
}
.name{
	font-size: 25px;
	font-weight: 700;
}
.text{
	margin-bottom: 40px;
}
.nameprice{
	font-weight: 400;
}
.price{
	font-weight:600;
}
button{
	border: 2px solid #ec744a;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	width: 252px;
	height: 50px;
	display: block;
	background-color: #ec744a;
	padding: 16px 39px;
}