
body{
	background-color: #F0B682;
	margin-left: 225px;
	margin-right: 275px;
}
.header{
	background: #5DE187;
  text-decoration: line-through;
}
.menu {
  position: fixed; /* Фиксированное положение */
  right: 30px; /* Расстояние от правого края окна браузера */
  top: 15%; /* Расстояние сверху */
  padding: 10px; /* Поля вокруг текста */ 
  background: #ffe; /* Цвет фона */ 
  border: 2px solid #333; /* Параметры рамки */ 
}
.img{
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 850px;
  height: 500px;
  border-radius: 1px;
}

.img img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.one{
		background: #5FAF30; 	
}
.oneorone{
	font-size: font-weight: 600; 
}
h1,h2{
		text-decoration: underline;
		text-align: center;
}
.two{
	font-style: italic;
	background: #5F8E30;	
}
.twoortwo{
	font-weight: 600;
}
.three{
	background: #387144;
}
.four{
	background: #245D30;
}
.fourandone{
	font-weight: 600;
}
.five{
	background: #245668;
}
.anime{
	position: absolute;
  top: 10px;
  left: 10px;
}
.anime img{
	width: 200px;/*ширина*/
  height: 150px;/*высота*/
  border:4px double black;/*параметры границы*/
}
.over{
	text-align: center;
}	